<h1> <%= @restaurant.name %> </h1>
<p> <b>Address:</b> <%= @restaurant.address %></p>
<p> <b>Phone Number: </b><%= @restaurant.phone_number %></p>
<p> <b>Category: </b><%= @restaurant.category %></p>

<p><strong>Reviews</strong></p>
<ul class="list-group">
  <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item"><%= review.content %> <%= review.rating %></li>
  <% end %>
</ul>
<br>

<%= link_to "Add review", new_restaurant_review_path(@restaurant), class: "btn btn-primary"%>
<%= link_to "Back to restaurant list", restaurants_path, class: "btn btn-secondary"%>
